{% extends 'base.html.twig' %}

{% block title %}Login!
{% endblock %}

{% block body %}
	<form id='LoginForm' method="post" class='container col-lg-4 col-md-6 col-sm-8 mt-5 p-4 text-white rounded hoverable animatedGradient'>
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Welcome back!</h1>

		<label for="inputUsername">Username</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
		
		<br>

		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" required>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="checkbox mb-3 mt-2">
			<label>
				<input type="checkbox" name="_remember_me">
				Remember me
			</label>
		</div>

		<div class='text-center'>
			<button class="btn btn-lg btn-dark" type="submit">
				Sign in
			</button>

			<br>
			<h7>
				If you dont have an account, please register
				<a class ="text-warning" href="{{ path('home') }}">
					here</a>.
			</h7>
		</div>
	</form>
{% endblock %}
