/* =============================== Animated Gradient ================================== */
  /* https://www.gradient-animator.com */

  .animatedGradient {
    /* can be treated like a fallback */
    background-color: #AA66CC;

    /* will be "on top", if browser supports it */
      background-image: linear-gradient(90deg, #aa66cc, #DBA947, #6961d2);
      background-size: 250% 600%;

      /* H: Only kept the gradient */
      
      /* -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      -o-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; */
  }

  /* @-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
  }
  @keyframes AnimationName { 
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
  } */


/* =============================== // Animated Gradient =============================== */

/* =============================== CSS Button with Ring Indicator ===================== */
  html, body {
    height: 100%;
  }

  .button {
    /* black btn sizing */
    min-width: 260px;
    min-height: 70px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #AA66CC;
  background: #2f2a32;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #f2bc3465;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

  button::before {
  content: '';
    border-radius: 100px;
    min-width: calc(250px + 12px);
    min-height: calc(60px + 12px);
    border: 4px solid #F2BB34;
    box-shadow: 0 0 60px #F2BB34;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  .button:hover, .button:focus {
    color: #F2BB34;
    transform: translateY(-6px);
  }

  .button:hover::before, .button:focus::before {
    opacity: 1;
  }

  /* Pulse effect */
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #F2BB34;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .button:hover::after, .button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;

    }
  }
/* =============================== //CSS Button with Ring Indicator =================== */


/* =============================== TEMPLATE-specific STYLES ===========================  */

/* BASE */
  #main {
    background-image: url('/image/background.jpg');
    background-color: #181133;
    background-attachment: fixed;
    background-position: center;
    margin-bottom:250px;

    /* 2nd Choice */
    /*  background-color: #0f0633;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); */

  /* 3nd Choice */ 
    /*  background-color: #1b194f;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png"); */

  /*  background-repeat: no-repeat; */
  /*  background-size: cover; */
  }

  #adminNav {
    position:relative; 
    z-index:3;
  }
  a:hover {
    color: #FDBB34;
    transition-duration: 1;
  }

  /* FOOTER */
  #logo {
    animation: color-change 7s infinite;
  }
  @keyframes color-change {
    0% {
      color: rgb(255, 255, 255);
    }
    10% {
      color: rgb(255, 255, 159);
    }
    25% {
      color: rgb(255, 159, 159);
    }
    50% {
      color: rgb(131, 250, 228);
    }
    100% {
      color: rgb(228, 220, 252);
    }
  }

  /* Mini */
  .contactSmall {
    font-size:13px
  }
  .copyrightSmall {
    font-size:14px
  }
  #contactBTN {
    margin-right:-25%
  }

/* Fullsize */
  #contactBtnLarge {
    margin-right:-25%
  }

/* HOME */
  #HomeContent {
    background-color: #f0f8ff
  }

  /* Regitration Form */
  #registration_form_birthdate_month {
    width:31%;
    margin-right:3%;
  }
  #registration_form_birthdate_day {
    width:31%;
    margin-right:3%;
  }
  #registration_form_birthdate_year {
    width:31%;
  }

  .form-error-message {
    background-color:rgba(0, 0, 0, 0.324);
    border-radius: 2px;
    padding:2px;
    color:white;
  }


/* LOGIN */
  #LoginForm {
    background-color:#aa66cc;
  }


/* TUTORIAL */
  #Tutorial {
    background-color: #f0f8ff;
  }

/* MODULES */
  /* module.html.twig */
    #ModuleA {
      background-color: #dfddf7;
    }

    #SlideContentA {
      min-height: 450px;
    }

    #ModuleB {
      background-color: #def9fe;
    }


    #SlideContentB {
      min-height: 450px;
    }



/* QUIZZEZ */
    /* form.html.twig */
      #quiz {
        background-image: linear-gradient(
          to right,
          #f4d5e9,
          #4f7ec4
          
        );
      }
      .form-control {
        width:5%;
      }

      /* Effets HOVER pour les reponses */
      .form-check {
        padding: 7px;
        border-radius: 25px;
        transition-duration: 0.2s;
      }
      .form-check:hover {
        transition-duration: 0.2s;
        transition-timing-function: ease;
        
        width:auto;
        background-color: #00000080;
        color: white;
        padding-left:33px;
      }







  
