{% extends 'base.html.twig' %}
{% block title %} Tutorial {% endblock %}
{% block body %}
	<div id='Tutorial' class='animated zoomIn container rounded col-lg-12 p-4 mt-4 mb-4 hoverable'>
		<h1 class=''>TUTORIAL</h1>
		<div class="text-justify">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum lectus vel maximus efficitur. Donec quis dui vel dolor elementum malesuada. Maecenas non malesuada elit. Nunc id efficitur leo, quis viverra turpis. Vestibulum ullamcorper quam eget metus lacinia, eget blandit elit commodo. Nullam dolor nunc, lobortis quis arcu ut, rutrum egestas mi. Donec varius eleifend sapien ut dignissim. In hac habitasse platea dictumst. Phasellus vitae sollicitudin nibh. Ut consectetur volutpat enim, facilisis ultrices nibh porta sodales.</p>
			<br>
			<p>Aenean odio nisi, fermentum vitae faucibus at, porttitor sed ipsum. Donec bibendum sagittis feugiat. Mauris pulvinar magna in velit luctus, non elementum sapien auctor. Cras gravida pellentesque mi, id tincidunt lorem tempor quis. Donec eget enim eu quam lacinia rutrum et eu enim. Nulla suscipit porttitor orci, sed viverra mauris fringilla et. Proin id diam ultrices, rhoncus leo at, ullamcorper justo. Cras eget nunc vitae eros euismod mollis. Ut tristique nibh ut libero luctus hendrerit. Nunc gravida diam nec placerat consequat. Sed laoreet justo ut volutpat posuere. Sed gravida sit amet urna in efficitur. Aenean vitae quam sit amet ex semper viverra.</p>
			<br>
		</div>
	</div>
	<div class='text-center'>
		<br>
		<div class='wrap'>
			<a href="{{ path('module', {'id' : '1'})}}">
				<button class='button'>
					START
				</button>
			</a>
		</div>
	</div>
{% endblock %}
