{% extends 'base.html.twig' %}
{% block title %} Congratulations! {% endblock %}

{% block body %}
	<div class='container text-center text-white animate__animatedd animate__rubberBand'>
		<h2 class=''>
			🎉 CONGRATULATIONS 🎉
		</h2>
		<div>
			<img src='https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/pack_11-sticker_6-xxxhdpi-v4.gif' alt='congratsGif' class='rounded col-lg-7'>
			<h2 class='mt-2 img-fluid'>Thanks for participating!</h2>
		</div>
{% endblock %}
