{% extends 'base.html.twig' %}
{% block title %}
	Wawawewa! !
{% endblock %}

{% block body %}  
	<div class='container text-center animate__animate animate__rubberBand'>
		<h1 class=''>
			🔥 CONGRATULATIONS 🔥
		</h1>
		<img
		src='https://media.giphy.com/media/4HrvfHcHC8cmB4w6c9/giphy.gif' alt='congratsGif' class='rounded col-lg-7'>
		{# <a href="{{ path('module', {'id' : '1'})}}">
					<button class='btn btn-secondary col-lg-6'>Go To MODULE A 🚀</button>
				</a> #}
		<h2 class='mt-2'>💜 Thanks for participating!</h2>
	</div>


{% endblock %}
