{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}
	{# FLASH Messages #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
    {% endfor %}
	{% for message in app.flashes('login') %}
		<div class="alert alert-success">
			<b> {{ message }} </b>
		</div>
    {% endfor %}
	{# Kept ModuleID static, to add custom photos & a blank module-card #}
	<div class="card-deck animate__animated animate__bounceInLeft">
		<div class="card m-3 hoverable bg-dark text-white hvr-wobble-vertical  ">
			<a href="{{ path('module', {'id' : 1})}}">
				<img src="https://media.gettyimages.com/photos/bullying-in-the-corridor-picture-id911026652?s=612x612" class="card-img-top" alt="Module Illustration">
				<div class="card-body">
					<h6 class="card-title text-white">MODULE A</h6>
					<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
				<hr>
				<li class="list-group-item rounded-bottom bg-dark text-white fixed-bottom"> ⏱ Estimated Time: 15 mins</li>
			</a>
		</div>
		<div class="card  m-3 hoverable bg-dark text-white hvr-wobble-vertical ">
			<a href="{{ path('module', {'id' : 2})}}">
				<img src="https://i.redd.it/qp9q0ol1u6ly.jpg" class="card-img-top" alt="Module Illustration">
				<div class="card-body">
					<h6 class="card-title text-white">MODULE B</h6>
					<p class="card-text text-white">This card has supporting text below as a natural lead-in to additional content.</p>
				</div>
				<hr>
				<li class="list-group-item rounded-bottom bg-dark text-white fixed-bottom">⏱ Estimated Time: 40 mins</li>
			</a>
		</div>
		<div class="card  m-3 hoverable bg-dark text-white hvr-wobble-vertical ">
			<a href='#'>
				<img src="https://researchdigest.files.wordpress.com/2017/02/thinkstockphotos-465387796.jpg?w=845" class="card-img-top" alt="Module Illustration">
				<div class="card-body">
					<h6 class="card-title text-white">MODULE C</h6>
					<p class="card-text text-white">Coming soon!</p>
				</div>
				<hr>
				<li class="list-group-item rounded-bottom bg-dark text-white fixed-bottom"> ⏱ Estimated Time: TBA </li>

			</a>
		</div>
	</div>
{% endblock %}
